body { 
	background-color: #3d424f;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.main {
	border-radius: 5px;
	background-color: rgba(14, 216, 199, 0.38);
	margin: 30px auto;
	width:550px;
	padding: 5px;
}
.main h3 {
    text-align: center;
    margin-top: 0;
}
.label {
	font-weight: bold;
	margin-right: 5px;
}
.value {
	color: #88FBD9;
}